<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div>
   <form action="/users/login" method="post" id="form">
        <h1 id="loginMsg">LOGIN IN</h1>
        <p>UserId:<input type="text" id="userId" name="userId"></p>
        <p>Password:<input type="password" id="password" name="password"></p>
        <div id="subDiv">
            <input type="submit" value="login up">
            <input type="reset" value="reset">
            <a href="/users/register">没有账户？点击注册</a>
        </div>
    </form>
</div>
</body>
</html>