<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div>
    <form action="/users/register" method="post" id="form0">
        <h1 id="registerMsg">REGISTER</h1>
        <p>UserId:<input type="text" id="userId" name="userId"></p>
        <p>Password:<input type="password" id="password" name="password"></p>
        <p>name:<input type="text" id="name" name="name"></p>
        <div id="subDiv">
            <input type="submit" value="register">
            <input type="reset" value="reset">
        </div>
    </form>
</div>
</body>
</html>