.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.bottomElement {
    width: 100%;
    height: 5%;
    margin: 2px;
    text-align: center;
}

.centering {
    justify-content: center;
}